a:link {
    text-decoration: none;
}

.bghome {
    background-image: url("assets/background/bg112.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.bganf {
    background-image: url("assets/background/bg222V.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.navbar-toggler-icon {
    background-color: var(--color-red);
    border-radius: 1px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.bgred {
    background-color: var(--color-red);
    border-radius: 0px !important;
}

.bgred-modal {
    background-color: var(--color-red);
}

.colorgray {
    color: var( --txt-gray) !important;
}

.colored{
    color: var(--color-red) !important;
}

.nav-pills .nav-link {
    border-radius: 0px !important;
}

.cine-padding-20{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

/* cabeçalho */
.logosize {
    height: 60px !important;
}

.nav-link {
    font-weight: bold;
}



/*  Slider swiper  */
.swiper-button-prev,
.swiper-button-next {
    color: white !important;
    /*background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%; */
    width: 40px;
    height: 40px;
    /* Tamanho do círculo */
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    transform: scale(1.3);
}

/* icones classificação do filme */
.classificacao-icon {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}


 .bg-cine-dark {
      background-color: var(--bg-dark);
      color: white;
    }