@media (max-width: 576px) {

}


@media (max-width: 768px) {

}


@media (max-width: 992px) {
 .cinema-nav-menu{
   padding: 0px;
   gap: 0px;
 }
 
 .cine-remove-menu{
  display: none;
 }

 .cine-padding-20{
    padding-top: 20px !important;
    padding-bottom: 15px !important;
}
 
}



@media (min-width: 1200px) {

}